html,body{
	height: 30%
}

body{
	background-color: rgb(200,200,200);
}
.div1 h1{
	width: 100%;
	height: auto;
	color: green;
	text-align: center;
}
.div2 h1{
	width: auto;
	height: auto;
	color: blue;
	text-align: center;
	
}
